@blue: #288df0;
@oranage: #f80;
@head-height: 48px;
@borderColor: #e0e0e0;
html, body {
	height: 100%;
}
body {
	font-family: 'Helvetica Neue', Helvetica, "Hiragino Sans GB", "Microsoft YaHei",
             "WenQuanYi Micro Hei", sans-serif;
}
.site-main {
	display: flex;
	height: 100%;
	padding-top: @head-height;
}
.site-nav {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: @head-height;
	background-color: @blue;
	border-bottom: 1px solid @borderColor;
	.nav-list {
		margin-left: 160px;
		display: flex;
		font-size: 16px;
		li {
			padding: 0 20px;
			line-height: 48px;
			transition: background-color ease-in .2s;
			&:hover {
				background-color: rgba(255, 255, 255, .1);
			}
		}
		a {
			color: #fff;
			&:hover {
				text-decoration: none;
			}
		}
	}
}
.site-aside {
	min-width: 160px;
	background-color: #f0f0f0;
	border-right: 1px solid @borderColor;
	li {
		padding: 0 8px;
		height: 36px;
		font-size: 14px;
		line-height: 36/14;
		&.current {
			background-color: #fff;
			border-left: 2px solid #f80;
			a {
				color: #f80;
			}
		}
	}
	a {
		color: #666;
		&:hover {
			text-decoration: none;
			color: #f80;
		}
	}
}
.site-content {
	padding: 16px;
	flex-grow: 1;
	overflow-y: scroll;
	.post-title {
		margin-bottom: 8px;
		padding-bottom: 8px;
		border-bottom: 1px solid @oranage;
		h1 {
			font-size: 18px;
			line-height: 1.5;
		}
		.meta {
			display: flex;
			color: #666;
			span {
				flex-grow: 1;
			}
			b {
				color: #ad8400;
				font-weight: 400;
			}
		}
	}
}
.markdown {
	@baseFontSize: 12px;
	h1, h2, h3, h4, h5, h6 {
		margin: 12px 0;
	}
	p {
		margin: 10px 0;
	}
	ul, ol, dl, blockquote, pre, address, fieldset, figure {
		margin: 1.6rem 0;
	}
	h1 {
		font-size: @baseFontSize * 1.5;
	}
	h2 {
		font-size: @baseFontSize * 1.4;
	}
	h3 {
		font-size: @baseFontSize * 1.3;
	}
	h4 {
		font-size: @baseFontSize * 1.2;
	}
	h5 {
		font-size: @baseFontSize * 1.1;
	}
	h6 {
		font-size: @baseFontSize;
	}
	hr {
		height: 1px;
		background-color: #dfdfdf;
		border: 0 none;
		overflow: hidden;
	}
	blockquote {
		padding: 5px 0 5px 15px;
		border-left: 2px solid #ddd;
	}
	table {
		width: 100%;
		border: 1px solid @borderColor;
		th, td {
			padding: 4px 6px;
			border: 1px solid @borderColor;
		}
		th {
			background-color: #f0f0f0;
			font-weight: 700;
		}
	}
	code {
		margin: 0 3px;
		padding: 2px 4px;
		background-color: #f7f7f7;
		border-radius: 3px;
		color: #c7254e;
		font-family: Consolas, monospace;
	}
	pre {
		padding: 4px;
		border: 1px solid @borderColor;
	}
}
.code-box {
	margin-top: 20px;
	padding: 10px;
	background-color: #f3f3f3;
	border: 1px solid @borderColor;
	.code-box-meta {
		margin-bottom: 8px;
		.code-box-title {
			font-size: 14px;
		}
		em {
			font-style: normal;
		}
		.kuma-icon {
			color: #888;
		}
	}
	.code-box-demo {
		margin-bottom: 12px;
		padding: 12px;
    	background-color: #fff;
	}
}
