extends layout
include ./includes/aside
include ./includes/meta
include ./includes/markdown
include ./includes/demos

block content
	+aside('components')
	article.site-content
		+meta(post)
		+demos()
		+markdown(post)
