extends layout

block content
	#site-home.site-home
		h1.site-text
			span.u U
			span.x X
			span.c C
			span.o O
			span.r R
			span.e E
			a(href="#{config.site.urlPrefix}#{config.site.homeLink}") 开始使用
	
