extends layout

block content
	#site-home.site-home
		#site-banner.site-banner
			canvas#canvas.canvas.translate.animated
			script(src="/static/fabric.min.js")
			img.zoomInRight.animated.banner-title(src="//gtms02.alicdn.com/tps/i2/TB1IeBdKVXXXXXZXFXXMDVcGpXX-1026-137.png")
			img.flash.animated.banner-des(src="//gtms02.alicdn.com/tps/i2/TB1FoxgKVXXXXXBXFXXvmCsWVXX-1280-150.png")
			div.zoomInRight.animated.button-group
				a.get-start.kuma-button.kuma-button-lg(type="button", href="/start/base", target="_blank") 开始使用
				a.contribute.kuma-button.kuma-button-lg.kuma-button-secondary(type="button", href="//github.com/uxcore", target="_blank") 贡献代码

		ul#site-feature.site-feature
			each feature in config.site.features
				li.feature-item
					div.feature-item-feature
						i(class="alifont icon-#{feature['name']}")
						div.feature-item-text
							div.feature-item-title #{feature['title']}
							div.feature-item-des #{feature['des']}

