nav#J-head.site-nav
	a(href="/")
		i.logo
	ul.nav-list
		each item in config.site.navigation
			li(data-id="#{item.id}")
				a(href="#{config.site.urlPrefix}#{item.link}")= item.text
	#J_ThemeSelector.theme-selector
