extends layout
include ./includes/aside
include ./includes/meta
include ./includes/markdown
include ./includes/demos

block content
    +aside('start')
    article.site-content
        +demos()
        +markdown(post)
