#site-footer.site-footer
	.footer-right © 2019 Alibaba, Inc.
	.footer-power
		span CREATED BY
		img(src="https://img.alicdn.com/tps/TB1YdwBPXXXXXbPXFXXXXXXXXXX-336-102.png")
		span 阿里巴巴企业智能事业部用户体验
script(src="http://s95.cnzz.com/z_stat.php?id=1259450590&web_id=1259450590", language="JavaScript")
